body{
  margin: auto;
  background-image: url("indexBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main_Heading{
  font: Georgia;
  color: #e26a5a;
  text-align: center;
}
#cheesy_Quote{
  font: Times;
  font-style: italic;
  color: #dcdfe8;
  text-align: center;
}
#short_Bio{
  color: #dcdfe8;
  text-align: center;
  border-bottom-style:outset;
}
#projects{
  font: Times;
  color: #dcdfe8;
  text-align: center;
}
div.project{
  text-align: center;
}
h3.project_Name{
  font: Times;
  color: #dcdfe8;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}
h6.project_Lang{
  font: Times;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  color: #dcdfe8;
  text-align: center;
}
p.project_Desc{
  padding: 0;
  margin-top: 10;
  margin-bottom: 15;
  font: Times;
  color: #dcdfe8;
  text-align: center;
}
img.project_Img {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: 256px;
    height: 128px;
}
