body{
  background-image: url("indexBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  color: red;
  text-align: center;
  border-style: outset;
}
h3{
  color: red;
  text-align: center;
}
p{
  color: #dcdfe8;
  text-align: center;
}

div{
  margin-top: 30;
  margin-bottom: 30;
}
