<!-- Footer -->
			<div id="footer">
				<div class="container">
					<!--<div class="row">

						!-- Tweets --
							<section class="4u">
								<header>
									<h2 class="icon fa-twitter circled"><span class="label">Tweets</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="tweet">
											Amet nullam fringilla nibh nulla convallis tique ante sociis accumsan.
											<span class="timestamp">5 minutes ago</span>
										</article>
									</li>
									<li>
										<article class="tweet">
											Hendrerit rutrum quisque.
											<span class="timestamp">30 minutes ago</span>
										</article>
									</li>
									<li>
										<article class="tweet">
											Curabitur donec nulla massa laoreet nibh. Lorem praesent montes.
											<span class="timestamp">3 hours ago</span>
										</article>
									</li>
									<li>
										<article class="tweet">
											Lacus natoque cras rhoncus curae dignissim ultricies. Convallis orci aliquet.
											<span class="timestamp">5 hours ago</span>
										</article>
									</li>
								</ul>
							</section>

						!-- Posts --
							<section class="4u">
								<header>
									<h2 class="icon fa-file circled"><span class="label">Posts</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="post stub">
											<header>
												<h3><a href="#">Nisl fermentum integer</a></h3>
											</header>
											<span class="timestamp">3 hours ago</span>
										</article>
									</li>
									<li>
										<article class="post stub">
											<header>
												<h3><a href="#">Phasellus portitor lorem</a></h3>
											</header>
											<span class="timestamp">6 hours ago</span>
										</article>
									</li>
									<li>
										<article class="post stub">
											<header>
												<h3><a href="#">Magna tempus consequat</a></h3>
											</header>
											<span class="timestamp">Yesterday</span>
										</article>
									</li>
									<li>
										<article class="post stub">
											<header>
												<h3><a href="#">Feugiat lorem ipsum</a></h3>
											</header>
											<span class="timestamp">2 days ago</span>
										</article>
									</li>
								</ul>
							</section>

						!-- Photos --
							<section class="4u">
								<header>
									<h2 class="icon fa-camera circled"><span class="label">Photos</span></h2>
								</header>
								<div class="row 25% no-collapse">
									<div class="6u">
										<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>
									</div>
									<div class="6u">
										<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
									</div>
								</div>
								<div class="row 25% no-collapse">
									<div class="6u">
										<a href="#" class="image fit"><img src="images/pic12.jpg" alt="" /></a>
									</div>
									<div class="6u">
										<a href="#" class="image fit"><img src="images/pic13.jpg" alt="" /></a>
									</div>
								</div>
								<div class="row 25% no-collapse">
									<div class="6u">
										<a href="#" class="image fit"><img src="images/pic14.jpg" alt="" /></a>
									</div>
									<div class="6u">
										<a href="#" class="image fit"><img src="images/pic15.jpg" alt="" /></a>
									</div>
								</div>
							</section>

					</div>
					<hr />
				-->
					<div class="row">
						<div class="12u">

							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>Want to contact or follow me?</h3>
									</header>
									<p>Whether its to let me know of something crazy cool you're thinking of, or just shooting the breeze</p>
									<ul class="icons">
										<li><a href="https://github.com/Joe-McCann" target="_blank">
											<img src={{site.baseurl}}{{'images/github.ico'| absolute_url}} height="24" width="24"></a></li>
										<li><a href="https://www.facebook.com/joey.mccann.98" target="_blank">
											<img src="{{site.baseurl}}{{'images/facebook.ico'| absolute_url}}" height="24" width="24"></a></li>
										<li><a href="https://www.instagram.com/wjmccann/" target="_blank">
											<img src="{{site.baseurl}}{{'images/instagram.ico'| absolute_url}}" height="24" width="24"></a></li>
										<li><a href="https://www.youtube.com/channel/UCSZ8SVk18Br-Tl_prWV2XcQ" target="_blank">
											<img src="{{site.baseurl}}{{'images/youtube.ico'| absolute_url}}" height="24" width="24"></a></li>
										<li><a href="https://www.linkedin.com/in/william-joseph-mccann-9b9b4b128/" target="_blank">
											<img src="{{site.baseurl}}{{'images/linkedin.ico'| absolute_url}}" height="24" width="24"></a></li>
									</ul>
								</section>

							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Version: .38</li>
									</ul>
								</div>

						</div>

					</div>
				</div>
			</div>
