 <!-- jQuery Version 1.11.0 -->
    {%include scripts.html%}
    <script src={{ "/js/jquery.dropotron.min.js" | absolute_url}}></script>
    <script src={{ "/js/jquery.min.js" | absolute_url}}></script>
    <script src={{ "/js/jquery.onvisible.js" | absolute_url}}></script>
    <script src={{ "/js/jquery.scrolly.min.js" | absolute_url}}></script>
    <script src={{ "/js/skel-layers.min.js" | absolute_url}}></script>
    <script src={{ "/js/skel.min.js" | absolute_url}}></script>
    <script src={{ "/js/init.js" | absolute_url}}></script>
