<!-- Main -->
			<div class="wrapper style2">

				<article id="main" class="container special">
					<br/>
					<br/>
					<!--<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>-->
					<header>
						<h2>What's so cool about me?</h2>
						<p>
							I am a hard worker who is always looking for a challenge to excite me and pique my
							interests. Don't believe me, check out some of the experience I have to back it up!
						</p>
					</header>
					<p>
						<ul style="text-align: justified;">
							<li>$ Work experience with Girls Who Code, NJIT, and Bow Tie Cinemas</li>
							<li>$ Proficiancy in several programming languages, such as C++, Java, Python, etc.</li>
							<li>$ Achieved the rank of Eagle Scout in 2016, having created a bridge and staircase for a nature trail</li>
							<li>$ Completed several cool and unique projects, some of which are featured on this website!</li>
							<li>$ Took several advanced classes in the fields of computer science and mathematics.</li>
							<li>$ ...and much more!</li>
						</ul>
					</p>
					<header>
						<p>
							Those bullet points are only just the tip of the iceberg when it comes to me. If you are interested enough
							to learn more, feel free to check out my <strong><a href="https://www.linkedin.com/in/william-joseph-mccann-9b9b4b128/" target="_blank">Linkedin Profile</a></strong>
							, any of the projects featured on this site, or my resume, which can be found by clicking the button below! Thank you for visiting my website, I hope you
							enjoy!
						</p>
					</header>
					<footer>
						<a href="https://drive.google.com/a/njit.edu/file/d/0B_TDT6gnf4QlbENIbEYwbnF5cTg/view?usp=sharing" class="button" target="_blank">My Resume</a>
					</footer>
				</article>

			</div>
