<script src={{'js/jquery.min.js'| absolute_url}}></script>
<script src="{{'js/jquery.dropotron.min.js'| absolute_url}}"></script>
<script src="{{'js/jquery.scrolly.min.js'| absolute_url}}"></script>
<script src="{{'js/jquery.onvisible.min.js'| absolute_url}}"></script>
<script src={{'js/skel.min.js'| absolute_url}}></script>
<script src={{'js/skel-layers.min.js'| absolute_url}}></script>
<script src={{'js/init.js'| absolute_url}}></script>
<noscript>
  <link rel="stylesheet" href="{{'css/skel.css'| absolute_url}}" />
  <link rel="stylesheet" href="{{'css/style.css'| absolute_url}}" />
  <link rel="stylesheet" href="{{'css/style-desktop.css'| absolute_url}}" />
  <link rel="stylesheet" href="{{'css/style-noscript.css'| absolute_url}}" />
</noscript>
