<div class="8u" id="content">
  <article id="main">
    <header>
      <h2><a href="{{page.url| absolute_url}}">{{page.title}}</a></h2>
      <p>
        <i>{{page.desc}}</i>
      </p>
    </header>
    <a href="{{page.url | absolute_url}}" class="image featured"><img src="{{page.img | absolute_url}}"/></a>

    {% for item in page.main-items %}
    <section>
      <header>
        <h3>{{item.title}}</h3>
      </header>
      <p>
        {{item.text}}
      </p>
    </section>
    {% endfor %}

<!--    {% if page.content != "" %}
    <section>
      <header>
        <h3>Here's a snip of code from the poject!</h3>
      </header>
      <p>
        {{page.content}}
      </p>
    </section>
    {% endif %}-->

    {% if page.github-link %}
    <section>
      <header>
        <h2><a href = {{page.github-link}} target="_blank">
          Check it out on Github!
        </a></h2>
      </header>
    </section>
    {% endif %}


<!--
    <section>
      <header>
        <h3>Ultrices tempor sagittis nisl</h3>
      </header>
      <p>
        Nascetur volutpat nibh ullamcorper vivamus at purus. Cursus ultrices porttitor sollicitudin imperdiet
        at pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
        feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
        fringilla consequat dis arcu. Pellentesque mus tempor vitae pretium sodales porttitor lacus. Phasellus
        egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
      </p>
      <p>
        Eleifend auctor turpis magnis sed porta nisl pretium. Aenean suspendisse nulla eget sed etiam parturient
        orci cursus nibh. Quisque eu nec neque felis laoreet diam morbi egestas. Dignissim cras rutrum consectetur
        ut penatibus fermentum nibh erat malesuada varius.
      </p>
    </section>
    <section>
      <header>
        <h3>Augue euismod feugiat tempus</h3>
      </header>
      <p>
        Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
        feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
        ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
        egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
      </p>
    </section>
-->
  </article>
</div>
