
<div class="4u" id="sidebar">
  <hr class="first" />

  <section>
    <header>
      <h3><a href="#">Additional Information</a></h3>
    </header>
    <p>
      Here are some additional supplimentary pictures and images about 
      the material on this page
    </p>

    {% for item in page.sidebar-items %}
    <div class="row 50% no-collapse">
      <div class="4u">
        <a href="{{item.image|absolute_url}}" class="image fit" target="_blank"><img src='{{item.image|absolute_url}}'/></a>
      </div>
      <div class="8u">
        <h4>{{item.title}}</h4>
        <p>
          {{item.description}}
        </p>
      </div>
    </div>
    {% endfor %}

   
  </section>
</div>
