
<div class="4u" id="sidebar">
  <hr class="first" />
  <!--Main section of the sidebar, unnessesary for now
  <section>
    <header>
      <h3><a href="#">Additional Information</a></h3>
    </header>
    <p>
      Here are some additional supplimentary pictures and captions
      about the project, to help you get a better feel for what
      the whole work is like
    </p>
    <footer>
      <a href="#" class="button">Learn More</a>
    </footer>
  </section>

  <hr />
  -->
  <section>
    <header>
      <h3><a href="#">Additional Information</a></h3>
    </header>
    <p>
      Here are some additional supplimentary pictures and captions
      about the project, to help you get a better feel for what
      the whole work is like
    </p>

    {% for item in page.sidebar-items %}
    <div class="row 50% no-collapse">
      <div class="4u">
        <a href="#" class="image fit"><img src='{{item.image|absolute_url}}'/></a>
      </div>
      <div class="8u">
        <h4>{{item.title}}</h4>
        <p>
          {{item.description}}
        </p>
      </div>
    </div>
    {% endfor %}

    <!--
    <div class="row 50% no-collapse">
      <div class="4u">
        <a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>
      </div>
      <div class="8u">
        <h4>Nibh sed cubilia</h4>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin.
        </p>
      </div>
    </div>

    <div class="row 50% no-collapse">
      <div class="4u">
        <a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
      </div>
      <div class="8u">
        <h4>Proin sed adipiscing</h4>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin.
        </p>
      </div>
    </div>

    <div class="row 50% no-collapse">
      <div class="4u">
        <a href="#" class="image fit"><img src="images/pic12.jpg" alt="" /></a>
      </div>
      <div class="8u">
        <h4>Lorem feugiat magna</h4>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin.
        </p>
      </div>
    </div>

    <div class="row 50% no-collapse">
      <div class="4u">
        <a href="#" class="image fit"><img src="images/pic13.jpg" alt="" /></a>
      </div>
      <div class="8u">
        <h4>Sed tempus fringilla</h4>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin.
        </p>
      </div>
    </div>

    <div class="row 50% no-collapse">
      <div class="4u">
        <a href="#" class="image fit"><img src="images/pic14.jpg" alt="" /></a>
      </div>
      <div class="8u">
        <h4>Malesuada fermentum</h4>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin.
        </p>
      </div>
    </div>
    -->
    <!-- Unneeded button
    <footer>
      <a href="#" class="button">Magna Adipiscing</a>
    </footer>
    -->
  </section>
</div>
