<div class="8u" id="content">
  <article id="main">
    <header>
      <h2><a href="{{page.url| absolute_url}}">{{page.title}}</a></h2>
      <p>
        <i>{{page.desc}}</i>
      </p>
    </header>
    <a href="{{page.url | absolute_url}}" class="image featured"><img src="{{page.img | absolute_url}}"/></a>

    {% for item in page.main-items %}
    <section>
      <header>
        <h3>{{item.title}}</h3>
      </header>
      <p>
        {{item.text}}
      </p>
    </section>
    {% endfor %}
    {{page.content}}

<!--    {% if page.content != "" %}
    <section>
      <header>
        <h3>Here's a snip of code from the poject!</h3>
      </header>
      <p>
        {{page.content}}
      </p>
    </section>
    {% endif %}-->

    {% if page.github-link %}
    <section>
      <header>
        <h2><a href = {{page.github-link}} target="_blank">
          Check it out on Github!
        </a></h2>
      </header>
    </section>
    {% endif %}

  </article>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_SVG" type="text/javascript"></script>

